# Calculate Statistics

## Imports

In [3]:
# Managing data
import pandas as pd
# DB connection
from scraping import create_connection
# Files & I/O
import pickle
import csv
import os
from pathlib import Path
# Plotting
import matplotlib.pyplot as plt

## Load Data

In [4]:
p = Path.cwd()
path_parent = p.parents[1]

In [5]:
# database
path_db = str(path_parent / "database" / "netmums-merged.db")
path_clean_data = path_parent / "clean_data" / "netmums"

In [8]:
sql = """
    SELECT
        DISTINCT p.user_url
    FROM posts AS p
    LEFT JOIN threads AS t
    ON t.id=p.thread_id
    LEFT JOIN subforums AS s
    ON s.id=t.subforum_id
    WHERE s.forum_id=24
    AND p.user_url<>"Anonymous"
"""
# sql = """
# SELECT *
# FROM posts
# LIMIT 2
# """
# forum_id = 24

In [9]:
conn = create_connection(path_db)
df = pd.read_sql_query(sql, conn)
conn.close()

In [10]:
df

,id,thread_id,post_count,post_id,user_url,date_created,date_recorded,body,version
0,1,1,1,19709335,sarah-l-2389,2021-01-28 03:39PM,2021-02-26 20:58:01,Once again we've teamed up with Product of the...,1
1,2,1,2,19709336,wendy-f-156,2021-01-28 07:07PM,2021-02-26 20:58:01,Nando's Garlic PERinaisse PERi-PERi Mayonnaise...,1